{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.12.0"
        }
      }
    ]
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": [
    "add-module-exports"
  ]
}
