.link-button {
  min-width: 64px;
  height: 36px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: $font-size-14;
  font-weight: $font-weight-medium;
  line-height: 36px;
  color: $font-primary-color;
  text-align: center;
}
