.nav-bar {
  position: sticky;
  top: 104px;
  z-index: 400;
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

@media (min-width: 960px) {
  .nav-bar {
    top: 64px;
  }
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }
}

.nav-bar--no-pages {
  top: 56px;
}
